
  .menu-wrap {
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #202020;
    line-height: 1.5;
    display: flex;
    flex: .1 0 auto;
    align-self: center;
  }

  .menu-wrap > .list-item {
    text-decoration: none;
    
    padding: 10px;
    color:#202020;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 17px;
    text-decoration: none;
  }

  .menu-wrap > .list-item:hover {
    /*background-color: #ffea00;*/
    background-color: #ff4713; /* CUSTOM for Blackrock */
  }

  .menu-wrap > .list-item:active {
    /*background-color: #ffea00;*/
    background-color: #ff4713;  /* CUSTOM for Blackrock */
  }

  @media (max-width: 1024px) {
    .menu-wrap {
      display: none;
      size: 45px;
      flex-direction: column;
    }

  }
  /* CUSTOM FOR BLACKROCK */
  .main-container .menu-wrap a.list-item {
    margin: 2px 8px 0 8px;
    color: #000;
    font: 16px/24px FortBold,Arial,sans-serif;
    letter-spacing: 0;
    padding: 6px 8px;
    display: flex;
    white-space: nowrap;
    margin-bottom: 6px;
  }
  .menu-wrap > .list-item:hover {
    height: 1px;
    background: #ff4713;
    margin-bottom: -4px;
  }
    