
  .menu-wrap {
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #202020;
    line-height: 1.5;
    display: flex;
    flex: .1 0 auto;
    align-self: center;
  }

  .menu-wrap > .list-item {
    text-decoration: none;
    
    padding: 10px;
    color:#202020;
    font-size: 14px;
    /*text-transform: uppercase; */ /* comment out CUSTOM for Broadridge */
    padding: 15px 17px;
    text-decoration: none;
    border-top: none;   /* all border stuff - CUSTOM for Broadridge */
    border-top-width: initial;
    border-top-style: none;
    border-top-color: initial;
    transition: border-bottom .3s ease-in-out .1s;  /* all - CUSTOM for Broadridge */
    border-bottom: 8px solid #fff;
    cursor: default;
    padding: 0 12px 9px;
  }

  .menu-wrap > .list-item:hover {
    /*background-color: #ffea00;*/
    text-decoration: none;  /* CUSTOM for Broadridge */
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    border-bottom-color: #003657!important;
  }

  .menu-wrap > .list-item:active {
    /*background-color: #ffea00;*/
    background-color: #00578e;  /* CUSTOM for Broadridge */
  }

  @media (max-width: 1024px) {
    .menu-wrap {
      display: none;
      size: 45px;
      flex-direction: column;
    }

  }
  /* CUSTOM FOR BROADRIDGE */
  .main-container .menu-wrap a.list-item {
    background-color: #fff;
    min-height: 33px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: normal;
    margin: 0;
    color: #00578e;
    cursor: default;
    line-height: inherit;
    padding-bottom: 0;
}
  .menu-wrap > .list-item:hover {
    color: #003657;
    text-decoration: underline;
  }
    