.xf-body {
  margin: 0 auto;

  width: 100%;
  max-width: 1136px;
  overflow: hidden;
}

.xf-body > img {
  padding:20px;
  margin-left: 0;
}

.xf-body-content {
  display: flex;
  flex-direction: row;
  /*margin-left: -15px;*/
}

.xf-body img {
  object-fit: fill;
  width: 100%;
}

.xf-body article.xf-content-body {
  line-height: 40px;
}
.xf-body article.xf-content-body img {
  object-fit: scale-down;
  width: 100%;
  padding: 0px;
}

.xf-body > article.xf-content-body {
  width: 70%;
}

.xf-side-rail {
  width: 30%;
  padding-top: 20px;
}

.xf-side-rail h6 {
  padding-left: 0px;
  padding-bottom: 20px;
}

.xf-side-rail > ul.xf-side-rail-list {
  list-style: none;
  display: block;
  padding: 0;
}

.xf-side-rail-list > li {
  height: 120px;
  width: 100%;
  margin: 0;
  align-self: start;
  border-left-style: solid;
  border-left-color: lightgray;
  border-left-width: 5px;
  margin-bottom:20px;
}
.xf-side-rail-list > a {
  color: #202020;
  padding: 5px;
  padding-top: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.xf-side-rail-list a:link {
  text-decoration: none;
}

.xf-side-rail-list a:visited {
  text-decoration: none;
}

.xf-side-rail-list > li:hover {
  background: #ffea00;
  border-color: #202020; 
}

.xf-side-rail-list-title {
  display: block;
  color: #202020;
  text-transform: uppercase;
  padding: 5px;
  padding-top:20px;
}

.xf-side-rail-list-date {
  color: #696969;
  font-size: 9pt;
  padding: 5px;
  text-transform: uppercase;
}

.cmp-image__image {
  height:100%;
}

.xf-spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

/* CUSTOM for Broadridge */

article.xf-content-body .teaser, article.xf-content-body .teaser-flip-img-right {
  padding: 56px 0 0 0;
  padding-bottom: 0!important;
  overflow: visible;
  max-width: 1920px!important;
  width: 100%!important;
  /*padding-left: 80px!important;
  padding-right: 80px!important;*/
  margin: 0 auto;
}

article.xf-content-body .cmp-teaser {
  justify-content: flex-end!important;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -8px!important;
  margin-right: -8px!important;
}

article.xf-content-body .teaser .cmp-teaser {
  flex-direction: row-reverse;  /* this reverses the image and text */
}

article.xf-content-body .teaser-flip-img-right .cmp-teaser {
  flex-direction: row;  /* this reverses the image and text */
}

article.xf-content-body .cmp-teaser__content {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  padding-right: 8px;
  padding-left: 8px;
}

article.xf-content-body .teaser .cmp-teaser__content {
  margin-left: 8.333%;
}

article.xf-content-body .cmp-teaser__content h2 {
  font-family: "KievitWeb W05 Exlig",sans-serif;
  margin-bottom: 20px;
  color: #3C3C3C;
  letter-spacing: -1.5px;
  font-size: 48px;
  line-height: 52px;
  font-weight: 200;
}

article.xf-content-body .cmp-teaser__content .cmp-teaser__description {
  font-family: "KievitWeb W05 Light",sans-serif;
  font-weight: 300;
  font-size: 18px;
    line-height: 28px;
    color: #6D6D6D;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
}

article.xf-content-body .cmp-teaser__image {
  padding-left: 8px;
  padding-right: 8px;
  float: left;
  flex: 0 0 50%;
  max-width: 50%;
}

article.xf-content-body .teaser-flip-img-right .cmp-teaser__image {
  margin-left: 8.333%;
}

article.xf-content-body .cmp-teaser__action-container {
  margin: 45px 0;
  flex: 0 1 48%;
  font-size: 18px;
    line-height: 28px;
    color: #6D6D6D;
    font-family: "KievitWeb W05 Regular",sans-serif;
    font-weight: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
}

article.xf-content-body .cmp-teaser__action-container  a.cmp-teaser__action-link {
  border-width: 2px;
  cursor: pointer;
  letter-spacing: .04em;
  text-transform: none;
  font-family: 'KievitWeb W05 Bold',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background: #007bb6;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 22px 24px;
    transition: all .3s linear;
    text-transform: uppercase;
    text-decoration: none;
}

article.xf-content-body .cmp-teaser__action-container a.cmp-teaser__action-link:hover {
  background-color:#00578e;
}

article.xf-content-body .cmp-teaser__action-container a.cmp-teaser__action-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* multi-column teaser text only, on homepage */

article.xf-content-body .teasermulticol .content-card-list {
  margin-left: -30px !important;
  margin-right: -30px !important;
  justify-content: center !important;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  font-size: 18px;
  line-height: 28px;
  align-items: normal; /* really custom for Broadridge */
}

.content-card-list .content-card {
  margin: 30px!important;
    width: calc(33.33% - 60px);
    transition: background-color .3s ease-in-out;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #3c3c3c;
    display: flex!important;
    flex-direction: column!important;
    min-height: 340px!important;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.content-card-list .content-card__image {
  margin: 0;
    max-height: 345px;
    overflow: hidden;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.content-card__image img {
  width: 100%;
  max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.content-card-list .content-card__content {
  padding: 20px 35px;
  font-size: 18px;
    line-height: 18px;
}

.content-card-list .content-card__title {
  font-size: 24px;
    line-height: 1.33;
    margin: 0 0 10px;
    /*color: #3c3c3c;*/
    letter-spacing: 0;
    transition: color .3s ease-in-out;
    font-family: 'KievitWeb W05 Light',sans-serif;
    font-weight: 300;
}

.content-card-list .content-card__copy {
  font-size: 18px;
    line-height: 1.56;
    letter-spacing: normal;
    margin: 0 0 40px;
    /*color: #5c5c5c;*/
    transition: color .3s ease-in-out;
    font-family: 'KievitWeb W05 Light',sans-serif;
    font-weight: 300;
}

.content-card-list a.content-card:hover {
  background-color: #003657;
  color: #fff;
  text-decoration: none;
}